@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');

h1 
{
    text-align: center;
    font-family: 'Langar';
    font-size: 100px;
    margin-top: -15vh;
}

body 
{
    background-color: #b37756;
}

.osijek_main_photo
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logo_transparent
{
    opacity: 0.5;
}